<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <div class="hero">
        <nav>
            <div class="shop_name"><a href="">ATN SHOP</a></div>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Features</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <img src="/images/huy.jpg" class="user-pic" onclick="toggleMenu()">

            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="/images/huy.jpg">
                        <h2><%= name %></h2>
                    </div>
                    <hr>
                    <a href="#" class="sub-menu-link">
                        <img src="/images/profile.png">
                        <p>Edit Profile</p>
                         <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="/images/setting.png">
                        <p>Setting & Privacy</p>
                         <span>></span>
                    </a>
                    <a href="#" class="sub-menu-link">
                        <img src="/images/help.png">
                        <p>Help & Support</p>
                         <span>></span>
                    </a>
                    <a href="https://firstexpress-gcd.herokuapp.com/" class="sub-menu-link">
                        <img src="/images/logout.png">
                        <p>Logout</p>
                         <span>></span>
                    </a>
                </div>
            </div>
        </nav>
        <div class="table">
          <%- select_box %>
          <%- table_string %>
        </div>
    </div>
    <script>
      window.setInterval(() => {window.location.reload()}, 10000);

      let subMenu = document.getElementById("subMenu");
      function toggleMenu(){
            subMenu.classList.toggle("open-menu");
      }
    </script>
    
</body>
</html>
